<%- include('partials/header') -%>

<% for (var i = 0; i < tafflist.length; i++) { %>

<HR>
<div class="alert alert-primary">
  <H1><%= tafflist[i].Name %></H1>
</div>
<HR>

<P><img width="300px" height="200px" src="/images/<%= tafflist[i].urlImg%>"></P>
<P>Price: <%= tafflist[i].Price%> / <%= tafflist[i].Unit%> </P>

<P>Information: <%= tafflist[i].Information%> </P>

<% } %>
<%- include('partials/footer') -%>