<!DOCTYPE html>
<html lang="en">
<head> 
    <%- include('../partials/header') -%>
        <title>PS</title>     
</head>
<body>
    <%- include('../partials/menu') -%>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <H1>Chi tiết hóa đơn</H1>
            </div>        
                <div class="row">
				<table width = "100%">
                <% for (var i = 0; i < productlist.length; i++) { %>
						<tr style="border-width: 5px;border-color: rgb(33, 158, 81);padding-bottom: 15px;">
							<td>
								<img id="order_pic" width="50px" height="50px" src="picture/<%=productlist[i].Img%>">
							</td>
							<td > 
                                <P><%= productlist[i].Name %></P>
                                <p><b>Price: </b> <%= productlist[i].Prices%></p>								
								<p><b>Num: </b> <%= productlist[i].Nums%> </p>
							</td>
						</tr>
                <% } %>
					
				</table>
				</div>        
        </div> 
      </div>
<footer style="margin-top: 700px;">
    <%- include('../partials/footer') -%>
</footer>
</body>
</html>
