<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% for (var i = 0; i < productlist.length; i++) { %>

    <HR>
    <div class="alert alert-primary">
      <H1><%= productlist[i].Name %></H1>
    </div>
    <HR>
    
    <P><img width="300px" height="200px" src="/picture/<%= productlist[i].urlImg%>"></P>
    <P>Price: <%= productlist[i].Price%> / <%= productlist[i].Unit%> </P>
    <P>Information: <%= productlist[i].Information%> </P>
    
    <% } %>
</body>
</html>



